[submodule "submodules/completion-ruby"]
	path = submodules/completion-ruby
	url = git://github.com/mernen/completion-ruby.git
[submodule "dotfiles/zsh/lib/zsh-syntax-highlighting"]
	path = dotfiles/zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
